.gallery-wrapper {
  padding: 0 1rem;

  .block-title {
    margin-bottom: 0;
  }

  .gallery-block {
    .gallery-block-title {
      font-size: $big-text;
      margin: 4rem 0 1rem;
    }

    .gallery-block-film {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .film-frames {
        display: flex;
        padding-left: 1rem;
        background-color: #231f20;

        .film-frame {
          width: 184px;
            
          img {
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
      
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .gallery-wrapper {
    .gallery-block {
      display: flex;
      flex-direction: column;
      height: 990px;

      .gallery-block-title {
        font-size: 6vw;
        margin: 0 0 1rem;
        text-align: center;
      }

      .gallery-block-film {
        transform: rotate(90deg);
        justify-content: center;
        align-items: flex-start;
        height: 90vw;
        &>img {
          width: 870px;
        }

        .film-frames {
          padding: 0 1rem;
          width: 838px;

          .film-frame {
            &>img {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}