@import './settings.scss';

@font-face {
  font-family: 'Segoe Script';
  font-style: normal;
  font-weight: 600;
  src: local('Segoe Script'), local('SegoeScript'),
  url('../fonts/segoe-script-regular.woff') format('woff')
}

@font-face {
  font-family: 'Segoe Script Bold';
  font-style: bold;
  font-weight: 100;
  src: local('Segoe Script Bold'), local('SegoeScriptBold'),
  url('../fonts/segoe-script-bold.woff') format('woff')
}

body {
  background-color: lightgoldenrodyellow;
  background-image: url('../images/background.jpg');
  font-family: 'Segoe Script'
}

@media (max-width: 768px) {
  body {
    background-color: $back-mobile;
    background-image: none;
  }
}