//Размеры
$extra-big-text: 3.625rem;
$big-text: 2.25rem;
$medium-text: 2rem;
$contacts-text: 1.7rem;
$small-text: 1.625rem;
$small-text-mobile: 1.5rem;
$extra-small-text: 1.1875rem;
$extra-small-text-mobile: 1rem;
$recalls-text: 1.125rem;
$description-text-mobile: 4vw;
$description-line-height: 2rem;
$details-text-mobile: 3vw;
$recalls-text-small-mobile: 4.5vw;
$recalls-text-big: 5vw;
$recalls-line-height-small-mobile: 4.7vw;

//Цвета
$main-color: #cf5800;
$back-mobile: #e8d17c;
$back-mobile2: #faf6e5;